
.container-fluid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 50px;
    background-color: black;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 50px;
    background-color: black;
}
li {
    list-style: none;
}
h4{
    text-align: center;
    color: #fff;
}
.col-12{
    margin-bottom: 50px;
}