
<div class="container-fluid">
      <div class="col-12">
        <h4>Novedades sobre Dolar, viajes, costos y mucho mas para preparar un viaje al exterior...</h4>
      </div>
      <div class="menu_noticias">
        <button type="button" class="btn btn-link" routerLinkActive="active" routerLink="detalles">Dolar</button>
        <button type="button" class="btn btn-link" routerLink="**">Novedades</button>
        <button type="button" class="btn btn-link" routerLink="detalle">Tarjetas</button>
        <button type="button" class="btn btn-link" routerLink="detalle">Aéreos</button>
        <button type="button" class="btn btn-link" routerLink="detalle">Destinos</button>
        <button type="button" class="btn btn-link" routerLink="detalle">Blogs</button>
        <button type="button" class="btn btn-link" routerLink="detalle">Youtube</button>
      </div>
</div>
<div class="detalles">
        <router-outlet></router-outlet> 
</div>


   