<div class="container-fluid bg-dark">
     
    <p>Desarrollado por FrontBackDeveloper</p>
    <p><span class="fa fa-copyright"></span> Todos los derechos reservados 2022 | Mar del Plata, Buenos Aires, Argentina</p>
    <hr>
    <div class="col-12">
        <a href="https://github.com/FrontBackDeveloper" target="_blank" ><i class="icon fa fa-github"></i></a>
        <a routerLink="/contacto"><i class="icon fa fa-envelope"></i></a>
        <a href="https://portfolio-gustavobeltran.netlify.app" target="_blank"><i class="icon fa fa-globe"></i></a>
    </div>
</div>
