<div class="container-fluid bg-dark">
    <p><span class="fa fa-copyright"></span> Todos los derechos reservados 2022 | Mar del Plata, Buenos Aires, Argentina</p>
    <hr>
    <p>Desarrollado por FrontBackDeveloper</p>
    <p><a routerLink="/terminosycondiciones">Térmnos y condiciones</a></p>
    <div class="col-12">
        <a href="https://github.com/FrontBackDeveloper" target="_blank" ><i class="icon fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/gustavo-daniel-beltran-a965b7228" target="_blank" ><i class="icon fa fa-linkedin"></i></a>
        <a routerLink="/contacto"><i class="icon fa fa-envelope"></i></a>
        <a href="https://portfoliogdb-g21.web.app" target="_blank"><i class="icon fa fa-globe"></i></a>
    </div>
</div>
