<div class="card text-center">
    <div class="card-header">
      <img src="../../../assets/img-perfil.jpg" alt="Imagen de perfil">
    </div>
    <div class="card-body">
      <h5 class="card-title">¡ Hola USUARIO !</h5>
      <p class="card-text">Ahora ud. tiene acceso a Presupuestos y Comentarios.</p>
      <a routerLink="editarperfil" class="btn btn-primary">Editar mi perfil</a>
    </div>
    <div class="card-footer text-muted">
      <a routerLink="/home">Volver a inicio</a>
    </div>

  </div>
  
  <router-outlet></router-outlet>