<div class="container-fluid">
    <div class="card w-75">
        <form>
            <div class="mb-3">
              <label for="nombre" class="form-label">Agregue un nombre al Presupuesto</label>
              <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Con este nombre podrá crear, editar,consultar y eliminar su presupuesto</div>
            </div>
            <button type="submit" (click)="nuevoPresupuesto()" class="btn btn-primary">Guardar</button>
          </form>
    </div>
   
</div>