/* Add a black background color to the top navigation */

.topnav {
    background-color: #34495E ;
    overflow: hidden;
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Style the links inside the navigation bar */
  .topnav img{
    width: 50px;
    border-radius: 5px;
    float: left;
    margin: 5px 5px;
    
  }
  .topnav p{
    color: #fff;
    font-size:17px;
    float: left;
  }
  .topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
  }
  
  .topnav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li {
     list-style: none;
  }
  
  /* Change the color of links on hover */
  .topnav .logo a:hover {
    color: orange;
  }
  .topnav .menu a:hover {
    background-color: #ddd;
    color: black;
  }
  .editar{
    color: #000;
    font-size: 25px;
    margin: 0 10px;
    transition: 0.4s;
  }
  a{
    text-decoration: none;
  }
  p{
    line-height: 10px;
  }
  button{
      margin-top: 10px;
      margin-right: 10px;
  }
  .card{
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 11px #00000030;
  }
  @media (max-width: 450px){
    .topnav .logo a{
      display: none;
    }
    h4{
      font-size: 15px;
    }
  }
  
  
