
.container-fluid{
	background-image: url(../../../assets/fondo_mapa_2.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}
.card{
	width: 27rem;
	margin: 100px auto;
	background: rgba(50, 52, 53, 0.253);
    padding: 60px 40px;
    box-sizing: border-box;
    border-radius: 7px;
	flex-wrap: wrap;
}
h2{
	text-align: center;
}
