
<div class="container">
  <div class="col-12" *ngIf="isUserLogged">
      <h6>Agregar reloj de cuenta regresiva <a  data-bs-toggle="modal" data-bs-target="#formulario"><b><i class="fa fa-plus"></i></b></a>  </h6>
  </div>
        
<div class="cuenta_regresiva">
    <div class="row titulos">
        <h5>Destino: España</h5>
        <h4>Fecha de salida: 07/03/2023</h4>
    </div>
   
     <div class="row reloj">
        <div class="col-9">{{ time.days }} <span>Días</span></div>
       
    </div>
    <div class="row reloj">
        <div class="col-3">{{ time.hours  }} <span>Horas</span></div>
        <div class="col-3">{{ time.minutes }} <span>Minutos</span></div>
        <div class="col-3">{{ time.seconds }} <span>Segundos</span></div>
    </div>
</div>
   
</div>

<!-- MODAL INGRESAR NUEVA CUENTA REGRESIVA-->

<div class="modal fade" id="formulario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="formulario">Agregar cuenta regresiva</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form novalidate>
                    
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Título de la cuenta regresiva" formControlName="titulo" required>
          </div>              
          <div class="mb-3">
              <input type="date" class="form-control" placeholder="Fecha límite" formControlName="fecha_limite" required>
          </div> 
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Horario de finalización" formControlName="horario_finalizacion" required>
          </div> 
        
        </form>
      </div>
      <div class="modal-footer">
       
        <button type="submit" (click)="guardar()" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
