

.titulos h5,h4{
    color: darkorange;
    font-size: 30px;
}
.titulos {
    padding: 40px;
}
.reloj{
    padding: 5px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	max-width: 1400px;  
}
.col-3{
    background-color: blue;
    font-size: 3em;
    color: azure;
    margin: 5px 5px;
    border-radius: 10px;
    max-width: 100px;
   
}
.col-9{
    background-color: blue;
    font-size: 3em;
    color: azure;
    margin: 5px 5px;
    border-radius: 10px;
    max-width: 320px;
   
}
span {
    font-size: 0.35em;
    color: yellow;
}
h5, h4{
    text-align: center;
    color: #fff;
}
h6{
    text-align: right;
    color: #fff;
}
i{
    font-size: 25px;
    color: orange;
    cursor: pointer;
}
i:hover{
    color: yellow;
    transition: .5s;

}
 @media (max-width:400px){
    .col-3{
        font-size: 2.5em;
        padding: 5px;
        border-radius: 5px;
        margin: 5px auto;
    }
    span {
        font-size: 0.4em;
    }
 }