<div class="container-fluid">

    <h4>Fecha: 20/20/2022</h4>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Moneda</th>
            <th scope="col">Compra</th>
            <th scope="col">Venta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dolar Oficial Bco Nación</td>
            <td>$999.99</td>
            <td>$999.99</td>
          </tr>
          <tr>
            <td>Dolar Blue</td>
            <td>$999.99</td>
            <td>$999.99</td>
          </tr>
          <tr>
            <td>Dolar Turista</td>
            <td>$999.99</td>
            <td>$999.99</td>
          </tr>
          <tr>
            <td>Euro Oficial Bco Nación</td>
            <td>$999.99</td>
            <td>$999.99</td>
          </tr>
          <tr>
            <td>Euro Blue</td>
            <td>$999.99</td>
            <td>$999.99</td>
          </tr>
          
        </tbody>
      </table>  
   
</div>
