<div class="container">
  <h4>Cotizacion de monedas actualizadas al día: {{infoDolarOficial.fecha}}</h4>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card text-center">
          <div class="card-header">
            Cotización  
          </div>
          <div class="card-body">
            <h5 class="card-title">Euro Oficial Banco Nación</h5>
            <p class="card-text">Compra: {{infoEuroOficial.compra}}</p>
            <p class="card-text">Venta: {{infoEuroOficial.venta}}</p>
            <br>
            <!-- Button trigger modal -->
            <button type="button" (click)="calcularEOF('Euro Oficial Banco Nación', infoEuroOficial.venta)" class="btn btn-primary" >Calcular</button>
            <br>
          </div>
          <div class="card-footer text-muted">
            Actualizado al: {{infoEuroOficial.fecha}}
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card text-center">
          <div class="card-header">
            Cotización 
          </div>
          <div class="card-body">
            <h5 class="card-title">Dolar Oficial Banco Nación</h5>
            <p class="card-text">Compra: {{infoDolarOficial.compra}}</p>
            <p class="card-text">Venta: {{infoDolarOficial.venta}}</p>
             <!-- Button trigger modal -->
             <br>
             <button type="button" (click)="calcularDOF('Dolar Oficial Banco Nación', infoDolarOficial.venta)" class="btn btn-primary" >Calcular</button>
             <br>
            </div>
          <div class="card-footer text-muted">
            Actualizado al: {{infoDolarOficial.fecha}}
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card text-center">
          <div class="card-header">
            Cotización 
          </div>
          <div class="card-body">
            <h5 class="card-title">Dolar Blue</h5>
            <p class="card-text">Compra: {{infoDolarBlue.compra}}</p>
            <p class="card-text">Venta: {{infoDolarBlue.venta}}</p>
             <!-- Button trigger modal -->
             <br>
             <button type="button" (click)="calcularBL('Dolar Blue', infoDolarBlue.venta)" class="btn btn-primary" >Calcular</button>
             <br>
            </div>
          <div class="card-footer text-muted">
            Actualizado al: {{infoDolarBlue.fecha}}
          </div>
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

 <!-- NGMODEL-->
 
  <div class="container convertidor">
    <div class="card convertidor-moneda">
      <label class="resultado" for="valor">{{titulo}}</label>
      <input type="number" class="form-control resultado" [(ngModel)]="valor">
      <p class="resultado">Son Pesos= <b>{{"$" + (this.valor)*(this.cotiza)}}</b></p>
    </div>
 </div>

  <h4>Otras cotizaciones y valores:</h4>
    
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Moneda</th>
            <th scope="col">Compra</th>
            <th scope="col">Venta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dolar Banco Galicia</td>
            <td>{{infoDolarGalicia.compra}}</td>
            <td>{{infoDolarGalicia.venta}}</td>
          </tr>
          <tr>
            <td>Dolar Banco BBVA</td>
            <td>{{infoDolarBBVA.compra}}</td>
            <td>{{infoDolarBBVA.venta}}</td>
          </tr>
          <tr >
            <td>Dolar Oficial Bco Nación</td>
            <td>{{infoDolarOficial.compra}}</td>
            <td>{{infoDolarOficial.venta}}</td>
          </tr>
          <tr>
            <td>Euro Oficial Bco Nación</td>
            <td>{{infoEuroOficial.compra}}</td>
            <td>{{infoEuroOficial.venta}}</td>
          </tr>
          
        </tbody>
      </table>  
   
</div>
