
<div class="container">
  <h4>Cotización de monedas más importantes</h4>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card text-center">
          <div class="card-header">
            Cotización  
          </div>
          <div class="card-body" >
            <h5 class="card-title">Euro Oficial Banco Nación</h5>
            <p class="card-text">Compra:{{infoEuroOficial.compra}}</p>
            <p class="card-text">Venta:{{infoEuroOficial.venta}} </p>
            <br>
            <!-- Button trigger modal -->
            <button type="button" routerLink="/convertidor" (click)="calcularEOF('Euro Oficial Banco Nación', infoEuroOficial.venta)" class="btn btn-primary" >Calcular</button>
            <br>
          </div>
          <div class="card-footer text-muted">
            Actualizado al: {{infoEuroOficial.fecha | date:'fullDate':'es' }}
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card text-center">
          <div class="card-header">
            Cotización 
          </div>
          <div class="card-body"  >
            <h5 class="card-title">Dolar Oficial Banco Nación</h5>
            <p class="card-text">Compra: {{infoDolarOficial.compra}} </p>
            <p class="card-text">Venta: {{infoDolarOficial.venta}}</p>
             <!-- Button trigger modal -->
             <br>
             <button type="button" routerLink="/convertidor" (click)="calcularDOF('Dolar Oficial Banco Nación', infoDolarOficial.venta)" class="btn btn-primary" >Calcular</button>
             <br>
            </div>
          <div class="card-footer text-muted">
            Actualizado al: {{infoDolarOficial.fecha | date:'fullDate':'es'}}
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card text-center">
          <div class="card-header">
            Cotización 
          </div>
          <div class="card-body">
            <h5 class="card-title">Dolar Blue</h5>
            <p class="card-text">Compra:{{infoDolarBlue.compra}} </p>
            <p class="card-text">Venta:{{infoDolarBlue.venta}} </p>
             <!-- Button trigger modal -->
             <br>
             <button type="button" routerLink="/convertidor" (click)="calcularBL('Dolar Blue', infoDolarBlue.venta)" class="btn btn-primary" >Calcular</button>
             <br>
            </div>
          <div class="card-footer text-muted">
            Actualizado al: {{infoDolarBlue.fecha | date:'fullDate':'es'}}
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card text-center">
          <div class="card-header">
            Cotización 
          </div>
          <div class="card-body"  >
            <h5 class="card-title">Dolar Tarjeta</h5>
            <p class="card-text">incluye imp. Pais + Percepciones + 25% Qatar</p>
            <p class="card-text">{{infoDolarOficial.venta * 2 | number: '.0-2'}} </p>
           
             <!-- Button trigger modal -->
             <br>
             <button type="button" routerLink="/convertidor" (click)="calcularDOT('Dolar Tarjeta', (infoDolarTurista.venta))" class="btn btn-primary" >Calcular</button>
             <br>
            </div>
          <div class="card-footer text-muted">
            Actualizado al: {{infoDolarOficial.fecha | date:'fullDate':'es'}}
          </div>
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!-- BARRA DE BUSQUEDA DE COTIZACIONES X BANCO-->
<br>
<h4>Buscar cotización Dólar / Euro / Real / Casas de Cambio</h4><hr>
<div class="input-group mb-3">
  <label class="btn btn-dark input-group-text" for="inputGroupSelect01" (click)="buscarXBanco(opcionBancos)"> <i class="fa fa-search"></i> </label>
  <select class="form-select" id="inputGroupSelect01" name="opcionBancos" [(ngModel)]="opcionBancos">
   
    <option value="Nacion">Dólar Banco Nación</option>
    <option value="Galicia">Dólar Banco Galicia</option>
    <option value="Piano">Dólar Banco Piano</option>
    <option value="Hipotecario">Dólar Banco Hipotecario</option>
    <option value="Santander">Dólar Dólar Banco Santander</option>
    <option value="Ciudad">Banco Ciudad</option>
    <option value="Supervielle">Dólar Banco  Supervielle</option>
    <option value="Patagonia">Dólar Banco Patagonia</option>
    <option value="Comafi">Dólar Banco Comafi</option>
    <option value="Bind">Dólar Banco Bind</option>
    <option value="Bancor">Dólar Banco Bancor</option>
    <option value="Chaco">Dólar Banco Chaco</option>
    <option value="Pampa">Dólar Banco Pampa</option>

    <option value="euro/nacion">Euro del Banco Nación</option>
    <option value="euro/galicia">Euro del Banco Galicia</option>
    <option value="euro/bbva">Euro del Banco BBVA</option>
    <option value="euro/pampa">Euro del Banco de La Pampa</option>
    <option value="euro/chaco">Euro del Banco del Chaco</option>
    <option value="euro/hipotecario">Euro del Banco Hipotecario</option>

    <option value="real/nacion">Real del Banco Nación</option>
    <option value="real/bbva">Real del Banco BBVA</option>
    <option value="real/chaco">Real del Banco del Chaco</option>

    <option value="casas/mdp/jonestur">Dólar Jonestur S.A</option>
    <option value="casas/mdp/moneta">Dólar La Moneta Cambio S.A</option>
    <option value="casas/mdp/exchange">Dólar Mar del Plata Exchange S.A</option>
    <option value="casas/caba/alpe">Dólar Cambio Alpe S.A</option>
    <option value="casas/caba/metropolis">Dólar Metrópolis Compañía Financiera S.A</option>
    <option value="casas/caba/vaccaro">DólarFrancisco Vaccaro S.A</option>
    <option value="casas/caba/transatlantica">Dólar Transatlantica S.A</option>
    <option value="casas/lp/tilos">Dólar Casa de Cambio Los Tilos S.A</option>
    <option value="casas/rosario/daminato">Dólar Daminato Viajes y Cambios S.A.</option>
    <option value="casas/mendoza/montemar">Dólar Montemar Compañía Financiera S.A</option>
    <option value="casas/tucuman/maguitur">Dólar Maguitur S.A</option>

  </select>
</div>

<table class="table table-dark table-striped" *ngIf="infoDolarXBanco.compra != 0">
  <thead>
    <tr>
      <th scope="col">Compra</th>
      <th scope="col">Venta</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{infoDolarXBanco.compra}}</td>
      <td>{{infoDolarXBanco.venta}}</td>
    </tr>
  </tbody>
</table>

<br>

  <h4>Otras cotizaciones y valores:</h4>
    
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Moneda</th>
            <th scope="col">Compra</th>
            <th scope="col">Venta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dolar Blue</td>
            <td>{{infoDolarBlue.compra}}</td>
            <td>{{infoDolarBlue.venta}}</td>
          </tr>
          <tr>
            <td>Dolar Tarjeta / Turista</td>
            <td>{{infoDolarTurista.compra}}</td>
            <td>{{infoDolarTurista.venta | number: '.0-2'}}</td>
          </tr>
          <tr >
            <td>Dolar Contado con Liqui</td>
            <td>{{infoDolarCCL.compra}}</td>
            <td>{{infoDolarCCL.venta}}</td>
          </tr>
          <tr>
            <td>Dolar Promedio</td>
            <td>{{infoDolarPromedio.compra}}</td>
            <td>{{infoDolarPromedio.venta}}</td>
          </tr>
          <tr>
            <td>Dolar Bolsa</td>
            <td>{{infoDolarBolsa.compra}}</td>
            <td>{{infoDolarBolsa.venta}}</td>
          </tr>
          
        </tbody>
      </table>  
   
</div>
