
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>PREPARA TU VIAJE AL EXTERIOR</h1>
        </div>
   
        <div class="col-12 countdown">
            <h5>Destino: España</h5>
            <h4>Fecha de salida: 07/03/2022</h4>
            <app-cuentaregresiva [finishDateString]="'2023-03-07 23:50:00'"></app-cuentaregresiva>
        </div>
           
       
    </div>
            <div class="row">
                <div class="col-6 opcion1" routerLink="/convertidor">
                    <div>
                        <img src="../../../assets/calculadora2.png" alt="Convertidor de Monedas">
                    </div>
                    <p><b>Convertidor de Monedas</b></p>
                </div>
                <div class="col-6 opcion2" routerLink="/cotizaciones">
                    <div>
                        <img src="../../../assets/PilaDeMonedas.png" alt="Cotizaciones">
                    </div>
                    <p><b>Cotizaciones mas Importantes</b></p>
                </div>
                <div class="col-6 opcion3" routerLink="/nuevoPresupuesto">
                    <div>
                        <img src="../../../assets/presupuestos2.webp" alt="Presupuestos">
                    </div>
                    <p><b>Presupuestos y Gastos</b></p>
                </div>
                 
                <div class="col-6 opcion4" routerLink="/novedades">
                    <div>
                        <img src="../../../assets/novedades.png" alt="Novedades">
                    </div>
                    <p><b>Novedades y Blogs</b></p>
                </div>
                <!--
                <div class="col-6 opcion5" routerLink="/itinerarios">
                    <div>
                        <img src="../../../assets/itinerarios.jpg" alt="Itinerario de Viaje">
                    </div>
                    <p><b>Itinerario de Viaje</b></p>
                </div>
               
                <div class="col-6 opcion6" routerLink="/tipsypreguntasfrecuentes">
                    <div>
                        <img src="../../../assets/preguntasfrecuentes.png" alt="Tips y preguntas frecuentes">
                    </div>
                    
                    <p><b>Tips y preguntas Frecuentes</b></p>
                </div>
                -->
                <div class="col-6 opcion7" routerLink="/comentarios">
                    <div>
                        <img src="../../../assets/comentarios.jpg" alt="Comentarios">
                    </div>
                    <p><b>Dejar un Comentario</b></p>
                </div>
               
            </div>
</div>
<div class="container">
    <a routerLink="/comentarios">Agregar Comentario </a>
    <app-lista-comentarios></app-lista-comentarios>
</div>
<app-footer></app-footer>