<div class="container-fluid">

            <div class="row">
                <div class="col-6 opcion1" routerLink="/convertidor">
                    <div>
                        <img src="../../../assets/calculadora2.png" alt="Convertidor de Monedas">
                    </div>
                    <p><b>Convertidor de Monedas</b></p>
                </div>
                <div class="col-6 opcion2" routerLink="/cotizaciones">
                    <div>
                        <img src="../../../assets/PilaDeMonedas.png" alt="Cotizaciones">
                    </div>
                    <p><b>Cotizaciones mas Importantes</b></p>
                </div>
                <div class="col-6 opcion3" routerLink="/presupuestos">
                    <div>
                        <img src="../../../assets/presupuestos2.webp" alt="Presupuestos">
                    </div>
                    <p><b>Presupuestos y Gastos</b></p>
                </div>
                <div class="col-6 opcion4" routerLink="/novedades">
                    <div>
                        <img src="../../../assets/novedades.png" alt="Novedades">
                    </div>
                    <p><b>Novedades y Tips</b></p>
                </div>
                <div class="col-6 opcion5" routerLink="/comentarios">
                    <div>
                        <img src="../../../assets/comentarios.jpg" alt="Comentarios">
                    </div>
                    <p><b>Dejar un Comentario</b></p>
                </div>
            </div>
</div>