.container-fluid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 100px;
    background-color: black;
}
.col-6{
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 20px 20px; 
    text-align: center;
    cursor: pointer;
    width: 200px;
    border-radius: 15px;
}
.opcion1{
    background-color: #006eff;
}
.opcion2{
    background-color: blueviolet;
}
.opcion3{
    background-color: rgb(255, 0, 64);
}
.opcion4{
    background-color: hsl(133, 85%, 31%);
}
.opcion5{
    background-color: hsl(19, 87%, 41%);
}
.opcion6{
    background-color: hsl(320, 85%, 35%);
}
.opcion7{
    background-color: hsl(209, 89%, 66%);
}
img {
    width: 100px;
    border-radius: 50%;
}
p{
    color: antiquewhite;
}
.col-6:hover{
    transform: scale(1.05);
      box-shadow: 1px 1px 11px #fff;
}
a{
    font-size: 20px;
    margin-left: 15px;
}
h1{
    font-size: 80px;
    text-align: center;
    color: darkorange;
    font-family: Trebuchet MS;
}
h5, h4{
    color: #fff;
}
.countdown h5,h4{
    text-align: center;
}
@media (max-width: 400px){
   
    .col-12 h1{
      font-size: 30px;
    }
    h5, h4{
        font-size: 12px;
    }
    
  
}